
    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    .score-page {
        background-color: #ffde6e;
        padding: 30px;
        border: 3px solid white;
        border-radius: 10px;
        width: 600px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        align-self: center;
        height: 750px;
        margin-bottom: 50px;
    }

    h1 {
        margin-bottom: 50px;
    }

    ul li{
        font-size: larger;
        margin-bottom: 50px;
    }

    p {
        font-size: large;
    }



   /* Navigointi */

.header {
    background-color: #ffde6e;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content:space-evenly;
    gap: 40px;
    border-bottom: 3px solid white;
}

/* Tiimi 3 -pelit tekstin muotoilut */
.title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    justify-content: baseline;
}

/* Navigoinnin linkit */
.nav a {
    margin: 50px;
    text-decoration: underline;
    color: black;
    font-weight: bold;
    
    
}

/* Dropdown (Burger -valikko) -säädöt */
.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #ffde6e;
    border: 2px solid black;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(197, 197, 197);
    border: 2px solid rgb(0, 0, 0);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #000000;
    font-size: 0.9em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

/* Sivuston sisältö */

.content {
    margin: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 2em;
}



.image-container img {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 8px;
    align-items: center;
    margin: 0 auto;
}


/* Footer */

.footer {
    display: flex;
    background-color: #ffde6e;
    padding: 20px;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    border-top: 3px solid white;
    justify-content: center;
    position:fixed;
    bottom: 0;
    width: 100%;
}

/* Responsiivisuus */


/* Mobiili */

@media (max-width: 600px) {

.header {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    }

.title {
    font-size: 1.2em;
    text-align: center;
}

.nav a {
    margin: 5px;
    font-size: 0.9em;
}

.dropbtn {
    padding: 8px 15px;
    font: 0.9em;
}

.dropdown-content {
    min-width: 120px;
    font-size: 0.85em;
}

.content {
    padding: 1em;
    text-align: center;
}

.footer {
    padding: 15px;
    font-size: 1em;
    }

}